<div id="descricaoPagina">
    <?php if(!empty($title)) : ?>
        <h2 class="vinni<?php echo  ($editable == true) ? '-editable' : '' ?>" data-identifier="<?php echo $identifier; ?>" data-type="title"><?php echo $title; ?></h2>
    <?php endif; ?>

    <?php if (!empty($content)) : ?>
    <div class="text-box">
        <p class="vinni<?php echo ($editable == true) ? '-editable' : '' ?>" data-identifier="<?php echo $identifier; ?>"><?php echo $content; ?></p>
    </div>
    <?php endif; ?>
</div>

<script>
  var  currentControllerName = '<?php echo $controllerName; ?>';
  var  currentActionName = '<?php echo $actionName; ?>';
</script>